colorama
coloredlogs
namedlist
simplejson
async_timeout
uvloop>=0.5.4
pyzmq
aiozmq
aiohttp>=1.0
aioredis>=0.2.8
aiobotocore
docker-py>=1.10
-e git+ssh://git@github.com/lablup/sorna-common#egg=sorna-common
pytest
flake8
pep8-naming
-e .
