# In the source distribution, we exclude prebuilt binaries and artifacts.
include src/ai/backend/runner/logo.svg
include src/ai/backend/runner/*.css
include src/ai/backend/runner/*.md
include src/ai/backend/runner/*.py
include src/ai/backend/runner/*.sh
include src/ai/backend/runner/*.txt
include src/ai/backend/runner/.vimrc
include src/ai/backend/runner/.bashrc
include src/ai/backend/runner/.bash_profile
include src/ai/backend/runner/.tmux.conf
include src/ai/backend/runner/terminfo.alpine3.8
include src/ai/backend/agent/docker/*.version.txt
