coloredlogs>=5.2
async_timeout>=1.1
pyzmq>=16.0
aiozmq>=0.7
aiohttp~=2.0.7
-e git+https://github.com/achimnol/aiodocker@master#egg=aiodocker
aioredis>=0.2.8
aiobotocore>=0.3.0
aiotools
etcd3~=0.5.2
configargparse>=0.11.0
msgpack-python
namedlist
requests
requests_unixsocket
simplejson
uvloop>=0.8
sorna-common>=0.9,<1.0
