coloredlogs>=5.2
async_timeout>=1.1
pyzmq>=16.0
aiozmq>=0.7
aiohttp~=2.1.0
aiodocker~=0.7.0
aioredis>=0.2.8
aiobotocore>=0.3.0
aiotools~=0.3.0
etcd3~=0.5.2
configargparse>=0.11.0
msgpack-python
namedlist
requests
requests_unixsocket
simplejson
uvloop>=0.8
-e git+https://github.com/lablup/sorna-common#egg=sorna-common
pypandoc
pytest~=3.1.0
pytest-cov~=2.5.1
pytest-asyncio~=0.6.0
pytest-mock~=1.6.0
asynctest
codecov
flake8
pep8-naming
-e .
