apiVersion: v1
kind: Secret
metadata:
  name: backend-ai-registry-secret
  namespace: backend-ai
data:
  .dockerconfigjson: ewoJImF1dGhzIjogewoJCSJrOHMtcmVnaXN0cnkuYmFja2VuZC5haSI6IHsKCQkJImF1dGgiOiAiWVdSdGFXNDZZV1J0YVc0PSIKCQl9Cgl9LAoJIkh0dHBIZWFkZXJzIjogewoJCSJVc2VyLUFnZW50IjogIkRvY2tlci1DbGllbnQvMTguMDkuNyAobGludXgpIgoJfQp9
type: kubernetes.io/dockerconfigjson