name: Lint with flake8

on: [push, pull_request]

jobs:
  lint:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Cache pip packages
      uses: actions/cache@v1
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements/*.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install dependencies
      run: |
        sudo apt-get install libsnappy-dev
        python -m pip install -U pip setuptools
        # Use the same branch (if exists) for the backend.ai-common installation
        set +e
        git ls-remote --heads 'https://github.com/lablup/backend.ai-common' | grep -q "refs/heads/${GITHUB_REF##*/}"
        if [ $? -eq 0 ]; then
          sed -i "s%\(backend.ai-common\)@master%\1@${GITHUB_REF##*/}%" requirements/lint.txt
        fi
        set -e
        python -m pip install -U -r requirements/lint.txt
    - name: Lint with flake8
      run: |
        python -m flake8 src/ai/backend tests --count --statistics
